{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": ["last 2 Chrome versions"]
        }
      }
    ],
    "react",
    "stage-2"
  ],
  "plugins": ["transform-async-to-generator", "transform-decorators-legacy"],
  "env": {
    "test": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "browsers": ["last 2 Chrome versions"]
            }
          }
        ],
        "react",
        "stage-2"
      ]
    }
  }
}
